.calend{
    width: 60%;
    margin-top: 20px;
    border-radius: 17px;
    box-shadow: 5px 5px 10px 3px #a3a3a3;
    padding: 30px;
    margin-bottom: 20px;
    border: 3px solid;
    border-color: #006B2B;
    background-color: white;
}

.total{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f3f1f1;
}

.head{
    width: 100%;
}