.card_profs{
    border-radius: 17px;
    border: 3px solid;
    border-color: #006B2B;
    box-shadow: 4px 4px 9px 1px #a3a3a3;
    padding: 10px;
    background-color: white;
}

.titulo{
    color:  #003917;
    font-size: 20px;
}

.professores{
    font-size: 15px;
    color: #003917;
}

.todos_profs{
    display: flex;
    flex-direction: column;
    overflow: auto;
    text-align: start;
    padding-left: 15px;
    height: 210px;
}

::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #006B2B;
    border-radius: 30px;
}

.plus{
    display: flex;
    align-items: center;
    justify-content: center;

}

.mais{
    font-size: 22px;
    color: white;
    text-decoration: none;
    background-color: #006B2B   ;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.mais:hover{
    transition: 0.5s;
    background-color: #8fd13f;
}
.logo{
    width: 125px;
    height: 90px;
    transition: 1s;
}

.logo:hover{
    transition: 1s;
    transform: rotate(360deg);
}

.lateral{
    background-color: #006B2B;
    display: flex;
    flex-direction: column;
    height: 850px;
    gap: 20px;
}

.traco{
    background-color: #8fd13f;
    width: 100%;
    height: 2px;
}

.itens{
    color: white;
    font-size: 20px;
    transition: 0.7s;
    text-decoration: none;
}

.td_itens{
    display: grid;
    gap: 50px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.itens:hover{
    color: #8fd13f;
    transition: 0.7s;
}